# EarnApp
EARNAPP_UUID=your_earnapp_uuid_here

# EarnFM
EARNFM_TOKEN=your_earnfm_token_here

# Honeygain
HG_EMAIL=your_honeygain_email_here
HG_PASS=your_honeygain_password_here

# Peer2Profit
P2P_EMAIL=your_peer2profit_email_here

# PacketStream
PS_CID=your_packetstream_cid_here

# Pawns
PAWNS_EMAIL=your_pawns_email_here
PAWNS_PASS=your_pawns_password_here

# TrafficMonetizer
TM_TOKEN=your_trafficmonetizer_token_here

# Repocket
RP_EMAIL=your_repocket_email_here
RP_KEY=your_repocket_api_key_here

# ProxyLite
PROXYLITE_ID=your_proxylite_user_id_here

# ProxyRack
PROXYRACK_KEY=your_proxyrack_api_key_here

# PassiveApp
PASSIVEAPP_TOKEN=your_passiveapp_token_here
